@media only screen and (max-width: 1023px){
        .container{
            flex-wrap: wrap;
            flex-shrink: 1;
        }
        .backtoindex{
            border : 1px solid #000;
            padding: 5px;
            margin: 20px;
            background-color: #fff;
            font-size: 16px;
            position: relative;
            bottom: 0;
            width: 30%;
            text-align: center;
        }

        .item h3{
            font-size: 24px;
        }

        a{
            color: #000 !important;
        }
}

@media only screen and (max-width: 575px){
    .item{
        width: 80% !important;
        height: 500px !important;
    }
    .item img{
        height: 400px !important;
    }

    .item h3{
        font-size: 18px !important;
    }
}

@media (max-width: 471px){
    .item{
        width: 350px !important;
        height: 400px !important;
    }

    .item img{
        height: 300px !important;
    }
}