*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    /* outline: 1px solid red;- */
}

.clearfix{
    clear: both;
}

a{
    text-decoration: none;
    color: #000000;
}
.whiteBg{
    background-color: #f8f9fa;
}


/* body{
    width: 100%;
    margin: auto;
} */
.gorgeous{
    /* background-color: #f8f9fa; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23cbc5d4' fill-opacity='0.19' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
    background-position: center center / cover;
}

header{
    box-sizing: border-box;
    margin : 0 auto;
    padding: 30px 50px;
    position: fixed;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* line-height: 90px; */
}
/* header .floated{
    width: 33%;
    float: left;
} */
header .menu{
    font-size: 16px;
    /* line-height: 54px; */
    position: relative;
    width: 500px;
}

header .menu .newWord1{
    position: absolute;
    top: -30px;
    left: 25%;
    background-color: rgb(20,153,206);
    line-height: 0;
    padding: 10px;
    color: #fff;

    
}

header .menu .newWord1::before{
    content: "";
    border-top: 10px solid rgb(20,153,206);
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    position: absolute;
    top: 20px;
    left: 20px;
}

header .menu .newWord2{
    position: absolute;
    top: -30px;
    left: 55%;
    background-color: rgb(20,153,206);
    line-height: 0;
    padding: 10px;
    color: #fff;
    
}

header .menu .newWord2::before{
    content: "";
    border-top: 10px solid rgb(20,153,206);
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    position: absolute;
    top: 20px;
    left: 20px;
}

header .topLogo{
    width: 500px;
    text-align: center;
    padding-left: 55px;

    /* line-height: 100px; */
}

header .topLogo img{
    width: 180px;
    vertical-align: middle;
}
header .scart{
    width: 500px;
    text-align: right;
    font-size: 20px;
    /* line-height: 54px; */
    letter-spacing: 5px;
}
header .menu ul li{
    float: left;
    margin: 0 10px;
    list-style: none;
}
.slideTop{
    padding: 100px 0 30px;
}

.slideTop .shoutout{
    max-width: 1280px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
}

.slideTop .shoutout .callToAction{
    width: 640px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.slideTop .shoutout .callToAction h2{
    font-size: 50px;
    text-align: left;
    margin-bottom: 20px;

}

.slideTop .shoutout a{
    margin-top: 20px;
}
.slideTop .shoutout a::after{
    content: "SHOP NOW";
    width: 100px;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 10px;
    transition: .5s;
}
.slideTop .shoutout a:hover::after{
    background-color: rgb(2, 87, 2);
}

.slideTop .shoutout .main-pic img{
    width: 640px;
    vertical-align: middle;
}


.introWord{
    margin: auto;
    max-width: 960px;
    text-align: center;
}

.introWord h2{
    padding: 60px 0 30px;
    font-size: 40px;
    color: rgb(1,86,1);
}

.introWord p{
    font-size: 16px;
    opacity: .7;
    padding: 20px 0 60px;
    font-style: italic;
}

.unfold{
    width: 1200px;
    margin: auto;
    /* box-sizing: border-box; */
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.unfold .bl{
    display: block;
}

.unfold .item{
    margin: 30px 0;
}

.unfold span{
    opacity: .5;
}

.unfold .chest{
    width: 360px;
    /* float: left; */
    text-align: right;
}

.unfold .tree img{
    width: 500px;
    vertical-align: middle;
}

.unfold .back{
    /* float: right; */
    width: 360px;
}

.showcase{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    /* padding: 30px 10px; */
    /* box-sizing: border-box; */
    /* font-size: 0; */
}


.showcase h3{
    font-size: 40px;
    color: rgb(2, 87, 2);
}
.showcase .stuff{
    width: 370px;
    float: left;
    margin: 30px 15px;
    position: relative;
}

.showcase .stuff h4{
    font-size: 12px;
    padding: 20px;
}

.showcase .stuff img{
    width: 100%;
    vertical-align: middle;
    transition: all .5s ease;
}

.showcase .stuff img:hover{
    filter: brightness(90%);
}

.showcase .stuff .sale{
    position: absolute;
    background-color: green;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    top: 0;
    right: 0;
    border-radius: 50% 0 50% 0;
}

.showcase .stuff .soldOut{
    position: absolute;
    background-color: green;
    font-size: 16px;
    padding: 5px;
    color: #fff;
    top: 20px;
}



.videoWall{
    width: 100%;
    background-image: url('bg.png');
    background-position: center center;
    /* height: 500px; */
}

.videoWall .contentbody{
    width: 1180px;
    margin: auto;
}

.videoWall .contentbody .floated{
    width: 530px;
    margin: 30px;
    float: left;

}
.videoWall .contentbody .video-info{
    font-size: 16px;
    padding: 100px 0;

}

.videoWall .contentbody .video-info h2{
    font-size: 30px;
    color: rgb(1, 86, 1);
}

.videoWall .contentbody .video-info p{
    padding: 30px 0;
}

.videoWall .contentbody  .video-info a::after{
    content: "SHOP NOW";
    width: 100px;
    background-color: transparent;
    color: #000;
    border: solid 1px #000;
    padding: 10px 30px;
    font-size: 10px;
    font-weight: 700;
    transition: .5s;
}

.videoWall .contentbody  .video-info a:hover::after{
    background-color: #000;
    color: #fff;
}

.videoWall .contentbody .video{
    /* width: 450px; */
    /* background-color: #fa0; */
    height: 343px;
    margin: 40px 0;
    position: relative;
}

.videoWall .contentbody .video img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.videoWall .contentbody .video .playButton{
    position: absolute;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    cursor: pointer;
    transition: 1s;
}

.videoWall .contentbody .video .playButton:hover{
    background-color: rgb(2, 87, 2);
}

.videoWall .contentbody .video .playButton::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #fff;
}



.instagramArea{
    width: 1440px;
    margin: auto;
    text-align: center;
}

.instagramArea .instIcon{
    margin: 30px 0 0px;
    font-size: 50px;
}

.instagramArea .title{
    font-size: 30px;
    margin: 30px;
}

.instagramArea .item{
    width: 300px;
    height: 300px;
    margin: 0 30px 30px;
    float: left;
    transition: .5s;
}

.instagramArea .item:hover{
    transform: scale(1.2)
}

.instagramArea .item img{
    vertical-align: middle;
    width: 100%;
    height: 100%;
}


footer{
    width: 100%;
    background-color: #f8f9fa;
    padding: 30px 0;
    text-align: center;
}

footer .bottomLogo{
    width: 150px;
    /* height: 50px; */
    margin: auto;
}

footer .bottomLogo img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

footer .info{
    font-size: 16px;
    width: 600px;
    margin: 30px auto 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
footer .info p:nth-of-type(2){
    position: relative;
}
footer .info p:nth-of-type(2)::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    background: #000;
    left: -50%;
    top: 50%;
    transform: translate(50%)
}
footer .info p:nth-of-type(2)::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    background: #000;
    right: -50%;
    top: 50%;
    transform: translate(-50%)
}

footer .social-icon{
    width: 400px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    transition: .5s
}

footer .social-icon:hover{
    color: rgb(1,86,1);
}