*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

*:focus{
    outline:none;
}

html,body{
    background-color: #fff;
    color: #555;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

a:link, a:visited{
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 2px;
    transition: border-bottom 0.5s, color 0.5s;

}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid #555;
}

.icon-big{
    font-size: 250%;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-right: 10px;

}
.row{
    max-width: 1380px;
    margin: 0 auto;
}

.clearfix:after{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

header .logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 10px;
}

header .black-logo{
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin-top: 5px 0;
}
/* main-nav */

header .main-nav{
    float: right;
    line-height: 120px;
}

header .main-nav li{
    display: inline;
    margin-left: 40px;
}

header .main-nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 90%;
}

header .main-nav li a:link,
header .main-nav li a:visited{
    padding: 5px 0;
    text-decoration: none;
    color: #fff;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

header .main-nav li a:hover,
header .main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}

/* moblie nav */
header .mobile-nav-icon{
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;

}

header .mobile-nav-icon ion-icon{
    font-size: 200%;
    color: #fff;
}

.close{
    display: none;
}


/* sticky nav */

.sticky-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,.8);
    z-index: 100;
    box-shadow: 0 2px 2px 1px rgba(0,0,0,.05);
    padding: 2px 0;

}

.sticky-nav .main-nav li a:link,
.sticky-nav .main-nav li a:visited{
    padding: 15px 0;
    color: #555;
}

.sticky-nav .logo{
    display: none;
}

.sticky-nav .black-logo{
    display: block;
}

.sticky-nav .main-nav{
    line-height: 0;
    margin-top: 25px;
}








header{
    background-image: linear-gradient( rgba(0,0,0,0.6),rgba(0,0,0,.6)) ,url(Omnifood-Contents/hero1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

header .hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header h1{
    margin: 0 0 20px;
    color: #fff;
    font-size: 200%;
    font-weight: 300;
    letter-spacing: 5px;
}


.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    border-radius: 30px;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}


.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active{
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;
    color: #fff;
}



/* 口號 */


.se-features{
    padding: 80px 0;
    text-align: center;
}

h2
{
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 200%;
    text-align: center;
    margin-bottom: 30px;
}

.se-features h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}

.se-features .row .long-copy{
    line-height: 150%;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 25px;
}

.se-features .row .box{
    padding: 1%;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
}

h3{
    font-weight: 300;
    font-size: 110%;
    margin-bottom: 10px;
}

.se-features .row .box p{
    font-size: 90%;
    line-height: 145%;
}


/* 餐點圖 */

.showcase{
    width: 100%;
}

.showcase li{
    padding: 5px;
    float: left;
    width: 25%;
}

.showcase li a img{
    cursor: pointer;
    width: 100%;
    vertical-align: middle;
    filter: brightness(80%);
    transition: .5s
}

.showcase li a img:hover{
    filter: brightness(100%)
}





/* 訂購方式 */

.section-steps{
    background-color: #f4f4f4;
}


.section-steps h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}




.section-steps{
    padding-top: 50px;
}

.section-steps .steps-box:first-child{
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen{
    width: 40%;
    padding-bottom: 30px;
}
.btn-app:link,
.btn-app:visited{
    border: 0;
}

.works-step{
    margin-bottom: 50px;
}

.works-step div{
    color: #e67e22;
    border: 2px solid #e67e22;
    /* display: inline-block; */
    float: left;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
    /* margin-bottom: 10px; */
    /* margin-left: -5px; */
}

.works-step p{
    line-height: 50px;
}

.section-steps .btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}


/* 城市 */

.section-cities{
    padding: 50px 0;
}

.section-cities h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}


.section-cities .row .box img{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    vertical-align: middle;
}

.section-cities .row .box .city-feature{
    margin-bottom: 10px;
}



/* comments */

.section-comments{
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)) ,url(Omnifood-Contents/hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    padding: 50px 20px;
}

.section-comments h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}

.section-comments blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    height: 300px;
    text-align: justify;
    position: relative;
}
.section-comments blockquote cite{
    font-size: 90%;
    padding-top: 25px;
    position: absolute;
    /* display: block; */
    bottom: 0;
    left: 0;
}

.section-comments blockquote::before{
    content: "\201C";
    font-size: 300%;
    display: block;
    
}


.section-comments blockquote cite img{
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}




/* 訂閱方案 */

.section-plan{
    background: #f4f4f4;
    padding: 50px 0;

}

.section-plan .plan-box{
    background-color: #fff;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
}

.section-plan .plan-box div{
    padding: 15px;
    border-bottom: 1px solid #eee;
    border-radius: 10px 10px 0 0;
}

.section-plan .plan-price{
    font-size: 250%;
    margin-bottom: 10px;
    font-weight: 300;
    color: #e67e22;

}

.section-plan .plan-price-meal{
    font-size: 80%;
}

.section-plan .plan-box ul li{
    padding: 5px 0;
}

.section-plan .subs-btn{
    text-align: center;
    border: 0;
}

.section-plan .plan-box div:first-child{
    background-color: #fcfcfc;
}







/* 聯絡我們表單 */

.section-form{
    padding: 50px 0;
    letter-spacing: 1px;
}

.section-form .contact-form{
    width: 60%;
    margin: 0 auto;
}

.section-form input[type="text"], 
    input[type="email"],
    textarea
{
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.section-form input[type="radio"]{
    margin-right: 5px;
}

.section-form .col{
    margin-bottom: 5%;
}

/* footer */

footer{
    padding: 50px 0 15px;
    background-color: #333;
    font-size: 80%;
}

footer p{
    color: #888;
    text-align: center;
    font-size: 90%;
}

footer .footer-nav{
    float: left;
}

footer .sns-links{
    float: right;
}

footer .footer-nav li,
footer .sns-links li{
    display: inline-block;
    margin-right: 10px;
}


.footer-nav li:last-child,
.sns-links li:last-child{
    margin-right: 0;
}

footer .copyright{
    margin-top: 30px;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.sns-links li a:link,
.sns-links li a:visited{
    border: 0;
    color: #888;
    transition: color 0.5s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

.sns-links li a:link,
.sns-links li a:visited{
    font-size: 160%;
}

.fb-icon,
.ins-icon,
.tw-icon,
.in-icon{
    transition: color 0.5s;
}

.sns-links li a .fb-icon:hover{
    color: #3b5998;
}
.sns-links li a .ins-icon:hover{
    color: #c13584;
}
.sns-links li a .tw-icon:hover{
    color: #517fa4;
}
.sns-links li a .in-icon:hover{
    color: #007bb6;
}